<h1>商品新規登録フォーム</h1>
<%= form_for @item do |f| %>
	<p>
		商品名:<%= f.text_field :name %>
	</p>
	<p>
		商品詳細:<%= f.text_area :description %>
	</p>
	<p>
		価格:<%= f.number_field :price %>
	</p>
	<p>
		売り主:<%= f.number_field :seller_id %>
	</p>
	<p>
		電子メール:<%= f.email_field :email %>
	</p>
	<p>
		商品画像URL:<%= f.text_field :image_url %>
	</p>

	<%= f.submit "登録"%>

<% end%>